header {
	background: #00008B;
	text-decoration: none;
	color: 	#191970;
}

.btn btn-warning {
	margin-top: 30px;
}

.container {
	background-color: white;
	width:70%;
}

body {
	background-color: #555;
}
