.container {
	background-color: white;
	min-height: 500px;
	min-width: 400px;
	width:65%;
	margin-top: 30px;
	color: 	#4682B4;
}

p {
	color: #000000;
}
/* unvisited link */
#link_white:visited, #link_login, #link_logout {
    color: #FFFAF0;
    text-decoration: none;
}
#link_white:link, #link_login, #link_logout {
    color: #FFFAF0;
    text-decoration: none;
}

header {
	min-width: 400px;
	background: #00008B;
	text-decoration: none;
}

.header_row {
	display:flex;
	flex-wrap: wrap;
	margin-right: 0;
}

.col_title {
	width: 75%;
	padding-left: 20%;
	margin-top:-0.2%;
}

#col_login {
	margin-top: 20px;
}


.btn_login, .btn_logout {
	height: 35px;
	width: 70px;
}

#link_additem:visited, #link_addcategory:visited, #link_item:visited, #link_category:visited, #link_edit:visited, #link_delete:visited  {
	color: #FF0000;
    text-decoration: none;
}

#link_additem:link, #link_addcategory:link, #link_item:link, #link_category:link, #link_edit:link, #link_delete:link  {
	color: #FF0000;
    text-decoration: none;
}

body {
	background-color: #B0C4DE;
}

.signin_row {
	padding-left: 30%;
	padding-right: 30%;
	margin-top: 300px;
	display: flex;
	flex-wrap: wrap;
}


@media (max-width: 500px) {
	.sign_row {
		padding-left: 20px;
	}
}



#result {
	left: 50%;
}



@media (min-width: 1000px) {
	.col_items {
		border-left: 1px solid gray;
	}
}

.col_add {
	margin-top: 20px;

}

#item_cat {
	color: #808080;
}