<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//apis.google.com/js/platform.js?onload=start"></script>
	<link rel=stylesheet href="{{ url_for('static', filename='styles.css') }}">
	<title>Item Catalog</title>
</head>
<body>
	<header>
		<div class="row header_row">
			<div class="col_title">
				<h1><a href="{{url_for('showCatalog')}}" id="link_white">Catalog App</a></h1>
			</div>
			<div id="col_login">
				{%if 'username' not in session %}
					<button type="button" class="btn btn-danger btn_login"><a href="{{url_for('showLogin')}}" id="link_login">Login</a></button>
				{% else %}
					<button type="button" class="btn btn-danger btn_logout"><a href="{{url_for('disconnect')}}" id="link_logout">Logout </a></button>
				{% endif %}
			</div>
		</div>
	</header>
	<section>
		<div class="col-md-12">
		</div>
		<div class="container ">
			{% block content %}
			{% endblock %}
		</div>
	</section>
</body>
</html>